@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: black;
    background-color: white;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: rgba(99, 102, 241, 0.05);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(99, 102, 241);
    border-radius: 2px;
}

input,
textarea {
    outline: none;
}
